.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #eff7fb;
  box-shadow: -8px 5px 8px 0px rgba(140, 140, 140, 0.6);
  border-radius: 7px;
}

.login > input {
  border: none;
  height: 10%;
  width: 170px;

  border-radius: 5px;
  box-shadow: inset -5px 7px 4px -4px rgba(181, 181, 181, 0.6);
}
.password-input {
  margin-bottom: 40px;
}
.username-input {
  margin-bottom: 10px;
  margin-top: 20px;
}

.loginform-button {
  display: block;
  background: none;
  border: none;
  margin: 40px 0px 10px 0px;
  padding: 0;
}

.link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginform-button:hover {
  color: blueviolet;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.submit-login-button {
  font-weight: bolder;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.487);
  font-size: 14px;
  height: 40px;
  width: 80px;
  background-color: #a0e1f4;
  color: #1d669b;
  box-shadow: -5px 5px 4px -4px rgba(181, 181, 181, 0.6);
  border-radius: 3px;
  cursor: pointer;
}

.submit-register-button {
  font-weight: bolder;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.487);
  font-size: 14px;
  height: 40px;
  width: 80px;
  background-color: #eff7fb;
  color: #1d669b;
  box-shadow: -5px 5px 4px -4px rgba(181, 181, 181, 0.6);
  border: 2px solid #a0e1f4;
  border-radius: 3px;
  cursor: pointer;
}

.submit-login-button:hover,
.submit-register-button:hover {
  background-color: #44c7ee;
  color: white;
}
.create-title {
  position: absolute;
  top: 0;
  margin-top: 10px;
}
