
.list li { 
    color: green;
}

#pink {
    color: pink;
}


@keyframes rotate{
   0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}

.rotation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}



.rotation:hover h1{
    color: orange;
}



input,label {
    color: black;
    cursor: pointer;
}



 input[type = "radio"]:checked + label[for = "red"]{
    color: red;
    font-weight: bold;
    background-color: lightgrey;
    
}

 input[type = "radio"]:checked + label[for = "yellow"] {
    color: yellow;
    font-weight: bold;
    background-color: lightgrey;
    
}

.list ~ div {
    color: blue;
}




